<div class="divider"></div>
<div class="section">

</div>
<div class="row">
        <div class="input-field col l7 center">
            <select class="black-text center" name="contrato" materialize="material_select"
                    [materializeSelectOptions]="contratos" (load)="onLoad()" (change)="onChange($event.target.value)" *ngIf="contratoSelecionado" required>
                <option disabled>Selecione</option>
                <option class="black-text" *ngFor="let contrato of contratos" [value]="contrato.codigo" [selected]="contrato.codigo == contratoSelecionado">{{contrato.nomeDaEmpresa}} - Contrato nº: {{contrato.numeroDoContrato}}</option>

            </select>
            <select class="black-text" name="contrato" materialize="material_select" [materializeSelectOptions]="contratos" (change)="onChange($event.target.value)" *ngIf="!contratoSelecionado" required>
                <option disabled>Selecione</option>
                <option class="black-text" *ngFor="let contrato of contratos" [value]="contrato.codigo" >{{contrato.nomeDaEmpresa}} - Contrato nº: {{contrato.numeroDoContrato}}</option>

            </select>
            <label style="font-size: 0.85vw">Selecione um Contrato</label>
        </div>
</div>
    <div class="row" *ngIf="!calculos && codContrato" (load)="onLoad()">
        <div class="col s12 grey lighten-4" style="margin-top: 1em">
            <br>
            <h5 class="center-align">Não há cálculos realizados ainda ! <i class="small material-icons">mood_bad</i></h5>
        </div>
    </div>
<div class="row">
    <div class="col" *ngIf="calculos && codContrato">
        <ul materialize="collapsible" class="collapsible" data-collapsible="accordion" >
            <li *ngFor="let calculo of calculos">
                <div class="collapsible-header">
                    <h5 class="center-align">Data Referência: {{calculo.dataReferencia | date: 'shortDate'}}</h5>
                </div>
                <div class="collapsible-body row">
                    <div class="col xl12 offset-l6 rigth center-align">
                    <table class="highlight centered center-align">
                        <thead>
                        <tr>
                            <th>Função</th>
                            <th>Número de Terceirizados por Função</th>
                            <th>Férias</th>
                            <th>Terço Constitucional</th>
                            <th>Décimo Terceiro</th>
                            <th>Incidência Retido</th>
                            <th>Multa do FGTS</th>
                            <th class="black-text">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let total of calculo.totais">
                            <td>{{total.funcao }}</td>
                            <td>{{total.numeroTerceirizados}}</td>
                            <td>{{total.ferias | currency:'BRL':true:'1.2-2'}}</td>
                            <td>{{total.tercoConstitucional | currency:'BRL':true:'1.2-2'}}</td>
                            <td>{{total.decimoTerceiro | currency:'BRL':true:'1.2-2'}}</td>
                            <td>{{total.incidencia | currency:'BRL':true:'1.2-2'}}</td>
                            <td>{{total.multaFGTS | currency:'BRL':true:'1.2-2'}}</td>
                            <td class="black-text"><b>{{total.total | currency:'BRL':true:'1.2-2'}}</b></td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>