<form [formGroup]="rescisaoForm">
    <div formArrayName="calcularTerceirizados">
        <table class="highlight centered responsive-table hoverable">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" id="test5" (change)="isSelected = !isSelected"/>
                    <label for="test5"></label>
                </th>
                <th>Terceirizado</th>
                <th>Tipo de Rescisão</th>
                <th>Data de Desligamento</th>
                <th>Início de férias vencidas</th>
                <th>Fim de férias vencidas</th>
                <th>Início de férias proporcionais</th>
                <th>Fim de férias proporcionais</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let terceirizado of terceirizados; let i = index">
                <td>
                    <div [formGroupName]="i">
                        <input type="checkbox" [checked]="isSelected" [ngModel]="isSelected" formControlName="selected"
                               id="{{i}}"/>
                        <label for="{{i}}"></label>
                    </div>
                </td>
                <td>{{terceirizado.nomeTerceirizado}}</td>
                <td>
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="input-field col m10 center">
                                <select class="center-align " materialize="material_select"
                                        formControlName="tipoRescisao">
                                    <option disabled>Selecione</option>
                                    <option value="A PEDIDO">A Pedido</option>
                                    <option value="COM JUSTA CAUSA">Com Justa Causa</option>
                                    <option value="SEM JUSTA CAUSA">Sem Justa Causa</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="input-field col m9 ">
                                <input type="text" class="validate" placeholder="Ex: 01/01/2000" appMaskDate
                                       formControlName="dataDesligamento" maxlength="10" required>
                                <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataDesligamento').invalid && (rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataDesligamento').dirty ||
                                rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataDesligamento').touched)">
                                    <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataDesligamento').getError('mensagem')">
                                        <div *ngFor="let msg of rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataDesligamento').getError('mensagem')[0]">
                                            <span class="mensagem-erro">{{msg}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataDesligamento').getError('required')">
                                        <span class="mensagem-erro">Você deve digitar uma data !</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="input-field col m9">
                                <input type="text" class="validate" placeholder="Ex: 01/01/2000" appMaskDate
                                       formControlName="dataInicioFeriasIntegrais" maxlength="10" required>
                                <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').invalid && (rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').dirty ||
                                rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').touched)">
                                    <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataDesligamento').getError('mensagem')">
                                        <div *ngFor="let msg of rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').getError('mensagem')[0]">
                                            <span class="mensagem-erro">{{msg}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').getError('required')">
                                        <span class="mensagem-erro">Você deve digitar uma data !</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="input-field col m9">
                                <input type="text" class="validate" placeholder="Ex: 01/01/2000" appMaskDate
                                       formControlName="dataFimFeriasIntegrais" maxlength="10" required>
                                <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').invalid && (rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').dirty ||
                                rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').touched)">
                                    <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataDesligamento').getError('mensagem')">
                                        <div *ngFor="let msg of rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').getError('mensagem')[0]">
                                            <span class="mensagem-erro">{{msg}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').getError('required')">
                                        <span class="mensagem-erro">Você deve digitar uma data !</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="input-field col m9">
                                <input type="text" class="validate" placeholder="Ex: 01/01/2000" appMaskDate
                                       formControlName="dataInicioFeriasProporcionais" maxlength="10" required>
                                <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').invalid && (rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').dirty ||
                                rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').touched)">
                                    <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataDesligamento').getError('mensagem')">
                                        <div *ngFor="let msg of rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').getError('mensagem')[0]">
                                            <span class="mensagem-erro">{{msg}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').getError('required')">
                                        <span class="mensagem-erro">Você deve digitar uma data !</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="input-field col m9">
                                <input type="text" class="validate" placeholder="Ex: 01/01/2000" appMaskDate
                                       formControlName="dataFimFeriasProporcionais" maxlength="10" required>
                                <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').invalid && (rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').dirty ||
                                rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').touched)">
                                    <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataDesligamento').getError('mensagem')">
                                        <div *ngFor="let msg of rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').getError('mensagem')[0]">
                                            <span class="mensagem-erro">{{msg}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicio').getError('required')">
                                        <span class="mensagem-erro">Você deve digitar uma data !</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
<br>
<div class="container" *ngIf="tipoRestituicao == 'RESGATE'">
    <div class="row" *ngIf="terceirizados && tipoRestituicao">
        <div class="center-align">
            <button class="btn waves-effect center" (click)="verificaDadosFormulario()">Calcular</button>
        </div>
    </div>
</div>
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions">
    <div class="modal-content">
        <h4 class="center">Atenção</h4>
        <br>
        <h5 class=" center">No mínimo uma pessoa deve ser selecionada para se realizar o cálculo !</h5>
    </div>
    <div class="modal-footer">
        <button class="btn waves-effect center" (click)="closeModal1()">Ok</button>
    </div>
</div>
<div class="container">
    <div id="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"
         [materializeActions]="modalActions2">
        <div class="modal-content">
            <h4 class="center">Atenção</h4>
            <h5 class=" center">Preencha os campos adequadamente</h5>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect center" (click)="closeModal2()">Ok</button>
        </div>
    </div>
</div>
<div id="modal3" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions3">
    <div class="modal-content">
        <h4 class="center">Atenção</h4>
        <h5 class="center">Deseja Confirmar o cálculo realizado ?</h5>
        <p>Obs.: Esta ação não poderá ser desfeita futuramente *</p>
        <table *ngIf="calculosDecimoTerceiro && vmsm" class="highlight centered responsive-table hoverable">
            <thead>
            <tr>
                <th>Terceirizado</th>
                <th>Parcela</th>
                <th>Inicio Contagem</th>
                <th>Valor Décimo Terceiro</th>
                <th>Incidência Décimo Terceiro</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let calculo of calculosDecimoTerceiro">
                <td>{{calculo.nomeTerceirizado}}</td>
                <td>{{calculo.parcelas | parcelaPipe}}</td>
                <td>{{calculo.inicioContagem | date:'shortDate'}}</td>
                <td>{{calculo.valoresDecimoTerceiro.valorDecimoTerceiro | currency:'BRL':true:'1.2-2'}}</td>
                <td>{{calculo.valoresDecimoTerceiro.valorIncidenciaDecimoTerceiro | currency:'BRL':true:'1.2-2'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="center-align">
            <button class="btn waves-effect right" (click)="efetuarCalculo()">Confirmar</button>
            <button class="btn waves-effect left" (click)="closeModal3()">Cancelar</button>
        </div>
    </div>
</div>
<div id="modal4" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions4">
    <div class="modal-content">
        <h4 class="center">Cálculo realizado com sucesso !</h4>
    </div>
    <div class="modal-footer">
        <div class="center-align">
            <button class="btn waves-effect center" (click)="closeModal4()">Ok</button>
        </div>
    </div>
</div>