<div class="container">
    <h2 class="center-align">Cadastro de Usuários</h2>
    <div class="divider"></div>
</div>
<div class="container">
    <div class="row">
        <form #form="ngForm" class="col  s12" [formGroup]="usuarioForm" autocomplete="off">
            <div class="row">
                <div class="col s12 l4">
                    <label for="nome_usuario">Nome do Gestor</label>
                    <input placeholder="Nome" id="nome_usuario" type="text" class="validate" maxlength="30" required (keyup)="verifyForm()" formControlName="nome">
                </div>
                <div class="col s12 l4 offset-l2">
                    <label for="login">Nome de Usuário</label>
                    <input placeholder="Login" id="login" type="text" class="validate" required (keyup)="verifyForm()" formControlName="login">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4">
                    <label for="password">Senha</label>
                    <input placeholder="Senha" id="password" type="password" class="validate" required formControlName="password" (keyup)="verifyForm()">
                </div>
                <div class="col s12 l4 offset-l2">
                    <label for="confirm_password">Confirme a Senha</label>
                    <input  id="confirm_password" type="password" class="validate" required formControlName="confirmPassword" (keyup)="verifyForm()">
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <select materialize="material_select" [materializeSelectOptions]="perfil" formControlName="sigla" (change)="verifyForm()">
                        <option disabled>Selecione um Perfil</option>
                        <option *ngFor="let per of perfil" [value]="per">{{per}}</option>
                    </select>
                    <label>Perfil do Usuário</label>
                </div>
            </div>
        </form>
    </div>
</div>