<br>
<div class="row">
    <div class="input-field col l7 offset-l2">
        <select id="selecao_contrato" materialize="material_select" [materializeSelectOptions]="contratos" (change)="defineCodigoContrato($event.target.value)">
            <option disabled>Selecione um Contrato</option>
            <option *ngFor="let contrato of contratos" [value]="contrato.codigo" [selected]="codigoContrato == contrato.codigo">{{contrato.nomeDaEmpresa}} - Contrato nº: {{contrato.numeroDoContrato}}</option>
        </select>
        <label for="selecao_contrato">Contrato<span class="red-text"> *</span></label>
    </div>
</div>
<div class="row" *ngIf="codigoContrato && totais && (historicoPendente.length > 0) && config.user.perfil.sigla == 'ADMINISTRADOR'">
    <div class="col tooltip" *ngIf="totais.length > 0">
        <span class="tooltiptext">Histórico de Cálculos Negados</span>
        <a (click)="openModal4()" class="left badge1" [attr.data-badge]="notifications" >
            <i class="material-icons left small">announcement</i>
        </a>
    </div>
</div>
<div class="row" *ngIf="codigoContrato && totais.length == 0 && (historicoPendente.length > 0) && config.user.perfil.sigla == 'ADMINISTRADOR'">
    <div class="col center-align center tooltip" >
        <span class="tooltiptext">Histórico de Cálculos Negados</span>
        <a (click)="openModal4()" class="center badge1" [attr.data-badge]="notifications" >
            <i class="material-icons left small">announcement</i>
        </a>
    </div>
</div>
<div class="container" *ngIf= "codigoContrato && totais.length == 0">
    <div class="row" >
        <div class="col s12 grey lighten-4" style="margin-top: 1em">
            <br>
            <h5 class="center-align">Nada pendente aqui ! <i class="small material-icons">mood</i></h5>
        </div>
    </div>
</div>
<div class="row" *ngIf="codigoContrato && totais">
    <form [formGroup]="totalMensalForm" *ngIf="totais.length > 0">
        <div class="col xl12 l12 s12 l12 m12" formArrayName="avaliacaoDeCalculo">
            <table class="highlight centered responsive-table hoverable striped">
                <thead>
                <tr>
                    <th *ngIf="config.user.perfil.sigla == 'ADMINISTRADOR'">
                        <input type="checkbox" class="checkbox-black" id="test5" (change)="isSelected = !isSelected"/>
                        <label for="test5"></label>
                    </th>
                    <th *ngIf="config.user.perfil.sigla == 'USUÁRIO'">Status</th>
                    <th *ngIf="config.user.perfil.sigla == 'ADMINISTRADOR'">Avaliação</th>
                    <th>Data Referência</th>
                    <th>Cálculos</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let total of totais; let i = index" [class.status]="total.status == 'NEGADO' && config.user.perfil.sigla == 'USUÁRIO'" (dblclick)="corrigeCalculo(total.totaisMensais.dataReferencia)">
                    <td *ngIf="config.user.perfil.sigla == 'ADMINISTRADOR'">
                        <div [formGroupName]="i">
                            <input type="checkbox" class="checkbox-black" [checked]="isSelected" [ngModel]="isSelected" formControlName="selected" id="{{i}}"/>
                            <label for="{{i}}"></label>
                        </div>
                    </td>
                    <td *ngIf="config.user.perfil.sigla == 'USUÁRIO'">{{total.status}} </td>
                    <td *ngIf="config.user.perfil.sigla == 'ADMINISTRADOR'">
                        <div [formGroupName]="i">
                            <div class="row">
                                <div class="input-field col s12">
                                    <select materialize="material_select" formControlName="avaliacao">
                                        <option value="S">APROVAR</option>
                                        <option value="N">REJEITAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{total.totaisMensais.dataReferencia | date: 'shortDate'}}</td>
                    <td>
                        <table class="highlight centered responsive-table">
                            <thead>
                                <tr>
                                    <th>Função</th>
                                    <th>Número de Terceirizados por Função</th>
                                    <th>Férias</th>
                                    <th>Terço Constitucional</th>
                                    <th>Décimo Terceiro</th>
                                    <th>Incidência Retido</th>
                                    <th>Multa do FGTS</th>
                                    <th class="total-calculo">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let calculo of total.totaisMensais.totais" [class.status]="total.status == 'NEGADO' && config.user.perfil.sigla == 'USUÁRIO'">
                                    <td>{{calculo.funcao }}</td>
                                    <td>{{calculo.numeroTerceirizados}}</td>
                                    <td>{{calculo.ferias | currency:'BRL':true:'1.2-2'}}</td>
                                    <td>{{calculo.tercoConstitucional | currency:'BRL':true:'1.2-2'}}</td>
                                    <td>{{calculo.decimoTerceiro | currency:'BRL':true:'1.2-2'}}</td>
                                    <td>{{calculo.incidencia | currency:'BRL':true:'1.2-2'}}</td>
                                    <td>{{calculo.multaFGTS | currency:'BRL':true:'1.2-2'}}</td>
                                    <td class="total-calculo">{{calculo.total | currency:'BRL':true:'1.2-2'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="row" *ngIf="codigoContrato && totais && config.user.perfil.sigla == 'ADMINISTRADOR'" >
    <div class="col" *ngIf="totais.length > 0">
        <div class="center">
            <button class="btn waves-effect waves-light" (click)="verificaFormulario()">Salvar Alterações</button>
        </div>
    </div>
</div>
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
        <h4 class="center">Atenção</h4>
        <br>
        <h5 class=" center">No mínimo um cálculo deve ser selecionado  !</h5>
    </div>
    <div class="modal-footer">
        <button class="btn waves-effect center"  (click)="closeModal()">Ok</button>
    </div>
</div>
<div class="container" *ngIf="totaisAvaliados">
    <div id="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions2">
        <div class="modal-content">
            <h4 class="center">Atenção</h4>
            <table class="highlight centered responsive-table hoverable striped">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Data Referência</th>
                    <th>Cálculos</th>
                    <th>Observações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let total of totaisAvaliados; let i = index">
                    <td>{{total.status | pendentePipe}} </td>
                    <td>{{total.totaisMensais.dataReferencia | date: 'shortDate'}}</td>
                    <td>
                        <table class="highlight centered responsive-table">
                            <thead>
                            <tr>
                                <th>Função</th>
                                <th>Número de Terceirizados por Função</th>
                                <th>Férias</th>
                                <th>Terço Constitucional</th>
                                <th>Décimo Terceiro</th>
                                <th>Incidência Retido</th>
                                <th>Multa do FGTS</th>
                                <th class="total-calculo">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let calculo of total.totaisMensais.totais">
                                <td>{{calculo.funcao }}</td>
                                <td>{{calculo.numeroTerceirizados}}</td>
                                <td>{{calculo.ferias | currency:'BRL':true:'1.2-2'}}</td>
                                <td>{{calculo.tercoConstitucional | currency:'BRL':true:'1.2-2'}}</td>
                                <td>{{calculo.decimoTerceiro | currency:'BRL':true:'1.2-2'}}</td>
                                <td>{{calculo.incidencia | currency:'BRL':true:'1.2-2'}}</td>
                                <td>{{calculo.multaFGTS | currency:'BRL':true:'1.2-2'}}</td>
                                <td class="total-calculo">{{calculo.total | currency:'BRL':true:'1.2-2'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <div class="row">
                            <form [formGroup]="totalMennsalFormAfter" class="col">
                                <div class="row" formArrayName="calculosAvaliados">
                                    <div class="input-field col 12" [formGroupName]="i">
                                        <textarea id="textarea1" class="materialize-textarea" formControlName="observacoes"></textarea>
                                        <label for="textarea1">Observações</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect left" (click)="closeModal2()">Cancelar</button>
            <button class="btn waves-effect right" (click)="enviarAvaliacao()">Confirmar Avaliação</button>
        </div>
    </div>
</div>
<div id="modal3" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions3">
    <div class="modal-content">
        <h4 class="center">Sucesso</h4>
        <br>
        <h5 class=" center">As alterações foram feitas com sucesso</h5>
    </div>
    <div class="modal-footer">
        <button class="btn waves-effect center"  (click)="navegaViewExec()">Ok</button>
    </div>
</div>

<div class="container" *ngIf="historicoPendente.length > 0 && codigoContrato && totais">
    <div id="modal4" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions4">
        <div class="modal-content">
            <h4 class="center">Atenção</h4>
            <table class="highlight centered responsive-table hoverable striped">
                <thead>
                <tr>
                    <th>Data Referência</th>
                    <th>Cálculos</th>
                    <th>Observações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let total of historicoPendente; let i = index">
                    <td>{{total.totaisMensais.dataReferencia | date: 'shortDate'}}</td>
                    <td>
                        <table class="highlight centered responsive-table">
                            <thead>
                            <tr>
                                <th>Função</th>
                                <th>Número de Terceirizados por Função</th>
                                <th>Férias</th>
                                <th>Terço Constitucional</th>
                                <th>Décimo Terceiro</th>
                                <th>Incidência Retido</th>
                                <th>Multa do FGTS</th>
                                <th class="total-calculo">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let calculo of total.totaisMensais.totais">
                                    <td>{{calculo.funcao }}</td>
                                    <td>{{calculo.numeroTerceirizados}}</td>
                                    <td>{{calculo.ferias | currency:'BRL':true:'1.2-2'}}</td>
                                    <td>{{calculo.tercoConstitucional | currency:'BRL':true:'1.2-2'}}</td>
                                    <td>{{calculo.decimoTerceiro | currency:'BRL':true:'1.2-2'}}</td>
                                    <td>{{calculo.incidencia | currency:'BRL':true:'1.2-2'}}</td>
                                    <td>{{calculo.multaFGTS | currency:'BRL':true:'1.2-2'}}</td>
                                    <td class="total-calculo">{{calculo.total | currency:'BRL':true:'1.2-2'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>{{total.observacoes}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect left" (click)="closeModal4()">Ok</button>
        </div>
    </div>
</div>