
.idea/artifacts/SISCOVI_war_exploded.xml
.idea/artifacts/SISCOVI_war_exploded.xml
.idea/artifacts/SISCOVI_war_exploded.xml
.idea/libraries/aopalliance_repackaged_2_5_0_b32.xml
.idea/artifacts/SISCOVI_war_exploded.xml
.idea/modules.xml
.idea/artifacts/SISCOVI_war_exploded.xml
.idea/vcs.xml
*.xml
.idea/artifacts/SISCOVI_war_exploded.xml
*.xml
.idea/artifacts/SISCOVI_war_exploded.xml
.idea/artifacts/SISCOVI_war_exploded.xml
SISCOVI.iml
