<div class="container">
    <h2 class="center">Décimo Terceiro</h2>
    <div class="row">
        <br>
        <div class="col s12">
            <ul class="tabs tabs-fixed-width" materialize="tabs" [materializeParams]="tabSelectionParams">
                <li class="tab col s3 text-grey text-darken-1" ><a [class.active]="testeRetencoes()"(click)="setRetencoesActive()">Restituições</a></li>
                <li class="tab col s3 text-grey text-darken-1"><a [class.active]="testeCalculo()" (click)="setCalcularActive()" >Calcular</a></li>
                <li class="tab col s3 text-grey text-darken-1"><a [class.active]="testePendentes()" (click)="setPendentesActive()">Cálculos Pendentes de Aprovação</a></li>
                <li class="tab col s3 text-grey text-darken-1"><a [class.active]="testeExecutados()" (click)="setExecutadosActive()">Cálculos Pendentes de Execução</a></li>
            </ul>
        </div>
        <div id="test1" class="col s12" active="testeRetencoes()"><app-relatorio-retencoes-decimo-terceiro-component *ngIf="testeRetencoes()"></app-relatorio-retencoes-decimo-terceiro-component></div>
        <div id="test2" class="col s12" active="testeCalculo()"><app-calculo-decimo-terceiro-component *ngIf="testeCalculo()" (navegaParaViewDeCalculos)="calculosPendentes($event)">
        </app-calculo-decimo-terceiro-component></div>
        <div id="test3" class="col s12" active="testePendentes()"><app-decimo-terceiro-pendente-component *ngIf="testePendentes()" [codigoContrato]="codigoContrato" (nav)="navegaExecucao($event)">
        </app-decimo-terceiro-pendente-component></div>
        <div id="test4" class="col s12" active="testeExeucao()"><app-decimo-terceiro-execucao-component *ngIf="testeExecutados()" [codigoContrato]="codigoContrato" (nav)="navegaRetencoes($event)">
        </app-decimo-terceiro-execucao-component></div>
    </div>
</div>