<form [formGroup]="feriasForm" >
    <div formArrayName="calcularTerceirizados">
        <table class="highlight centered responsive-table hoverable">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" id="test5" (change)="isSelected = !isSelected"/>
                    <label for="test5"></label>
                </th>
                <th>Terceirizados</th>
                <th>Número de Parcelas</th>
                <th>Início do Período Aquisitivo</th>
                <th>Fim do Período Aquisititvo</th>
                <th>Início do Ususfruto</th>
                <th>Fim do Usufruto</th>
                <th>Dias Vendidos</th>
                <th>Valor a Ser Movimentado</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let terceirizado of terceirizados; let i = index">
                <td>
                    <div [formGroupName]="i">
                        <input type="checkbox" [checked]="isSelected" [ngModel]="isSelected" formControlName="selected" id="{{i}}"/>
                        <label for="{{i}}"></label>
                    </div>
                </td>
                <td>{{terceirizado.nomeTerceirizado}}</td>
                <td>
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="input-field col s12">
                                <select materialize="material_select" formControlName="parcelas">
                                    <option value="0">Única</option>
                                    <option value="1">Primeira</option>
                                    <option value="2">Segunda</option>
                                    <option value="3">Terceira</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </td>
                <td>{{terceirizado.inicioPeriodoAquisitivo | date: 'shortDate'}}</td>
                <td>{{terceirizado.fimPeriodoAquisitivo | date:'shortDate'}}</td>
                <td>
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" class="validate" placeholder="Ex: 01/01/2000" appMaskDate formControlName="inicioFerias" maxlength="10" required>
                                <div *ngIf="feriasForm.get('calcularTerceirizados').get('' + i).get('inicioFerias').invalid && (feriasForm.get('calcularTerceirizados').get('' + i).get('inicioFerias').dirty ||
                                feriasForm.get('calcularTerceirizados').get('' + i).get('inicioFerias').touched)">
                                    <div *ngIf="feriasForm.get('calcularTerceirizados').get('' + i).get('inicioFerias').getError('mensagem')">
                                        <div *ngFor="let msg of feriasForm.get('calcularTerceirizados').get('' + i).get('inicioFerias').getError('mensagem')[0]">
                                            <span class="mensagem-erro">{{msg}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="feriasForm.get('calcularTerceirizados').get('' + i).get('inicioFerias').getError('required')">
                                        <span class="mensagem-erro">Você deve digitar uma data !</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="input-field col s12 ">
                                <input type="text" class="validate" placeholder="Ex: 01/01/2000" appMaskDate formControlName="fimFerias" maxlength="10" required>
                                <div *ngIf="feriasForm.get('calcularTerceirizados').get('' + i).get('fimFerias').invalid && (feriasForm.get('calcularTerceirizados').get('' + i).get('fimFerias').dirty ||
                                feriasForm.get('calcularTerceirizados').get('' + i).get('fimFerias').touched)">
                                    <div *ngIf="feriasForm.get('calcularTerceirizados').get('' + i).get('fimFerias').getError('mensagem')">
                                        <div *ngFor="let msg of feriasForm.get('calcularTerceirizados').get('' + i).get('fimFerias').getError('mensagem')[0]">
                                            <span class="mensagem-erro">{{msg}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="feriasForm.get('calcularTerceirizados').get('' + i).get('fimFerias').getError('required')">
                                        <span class="mensagem-erro">Você deve digitar uma data !</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="input-field col s10">
                                <input type="number" value="0" placeholder="Exemplo: 0" class="validate" formControlName="diasVendidos" min="0" max="10" required>
                                <div *ngIf="feriasForm.get('calcularTerceirizados').get('' + i).get('diasVendidos').invalid && (feriasForm.get('calcularTerceirizados').get('' + i).get('diasVendidos').dirty ||
                                feriasForm.get('calcularTerceirizados').get('' + i).get('diasVendidos').touched)">
                                    <div *ngIf="feriasForm.get('calcularTerceirizados').get('' + i).get('diasVendidos').getError('mensagem')">
                                        <div *ngFor="let msg of feriasForm.get('calcularTerceirizados').get('' + i).get('diasVendidos').getError('mensagem')[0]">
                                            <span class="mensagem-erro">{{msg}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="feriasForm.get('calcularTerceirizados').get('' + i).get('diasVendidos').getError('required')">
                                        <span class="mensagem-erro">Você deve digitar um valor !</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" class="validate" formControlName="valorMovimentado"  currencyMask
                                       [options]="{prefix: 'R$', thousands: '.', decimal: ',', allowNegative: 'false'}" required>
                                <div *ngIf="feriasForm.get('calcularTerceirizados').get('' + i).get('valorMovimentado').invalid && (feriasForm.get('calcularTerceirizados').get('' + i).get('valorMovimentado').dirty ||
                                feriasForm.get('calcularTerceirizados').get('' + i).get('valorMovimentado').touched)">
                                    <div *ngIf="feriasForm.get('calcularTerceirizados').get('' + i).get('valorMovimentado').getError('mensagem')">
                                        <div *ngFor="let msg of feriasForm.get('calcularTerceirizados').get('' + i).get('valorMovimentado').getError('mensagem')">
                                            <span class="mensagem-erro">{{msg}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="feriasForm.get('calcularTerceirizados').get('' + i).get('valorMovimentado').getError('required')">
                                        <span class="mensagem-erro">Você deve digitar algum valor!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
<br>
<div class="container" *ngIf="tipoRestituicao == 'MOVIMENTACAO'">
    <div class="row" *ngIf="terceirizados && tipoRestituicao">
        <div class="center-align">
            <button class="btn waves-effect center" (click)="verificaDadosFormulario()">Calcular</button>
        </div>
    </div>
</div>
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
        <h4 class="center">Atenção</h4>
        <br>
        <h5 class=" center">No mínimo uma pessoa deve ser selecionada para se realizar o cálculo !</h5>
    </div>
    <div class="modal-footer">
        <div class="col center-align center">
            <div class="center">
                <button class="btn waves-effect center"  (click)="closeModal1()">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions2">
        <div class="modal-content">
            <h4 class="center">Atenção</h4>
            <h5 class=" center">Preencha os campos adequadamente</h5>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect center" (click)="closeModal2()">Ok</button>
        </div>
    </div>
</div>
<div id="modal3" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions3">
    <div class="modal-content">
        <h4 class="center">Atenção</h4>
        <h5 class="center">Deseja Confirmar o cálculo realizado ?</h5>
        <p>Obs.: Esta ação não poderá ser desfeita futuramente *</p>
        <table *ngIf="feriasCalcular"  class="highlight centered responsive-table hoverable">
            <thead>
                <tr>
                    <th>Terceirizado</th>
                    <th>Início de Férias</th>
                    <th>Fim de Férias</th>
                    <th>Dias Concedidos</th>
                    <th>Valor a Movimentar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ferias of feriasCalcular; let l = index">
                    <td>{{ferias.nomeTerceirizado}}</td>
                    <td>{{ferias.inicioFerias}}</td>
                    <td>{{ferias.fimFerias}}</td>
                    <td>{{diasConcedidos[l]}}</td>
                    <td>{{ferias.valorMovimentado | currency:'BRL':true:'1.2-2'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="center-align">
            <button class="btn waves-effect right" (click)="efetuarCalculo()">Confirmar</button>
            <button class="btn waves-effect left" (click)="closeModal3()">Cancelar</button>
        </div>
    </div>
</div>
<div id="modal4" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions4">
    <div class="modal-content">
        <h4 class="center">Cálculo realizado com sucesso !</h4>
    </div>
    <div class="modal-footer">
        <div class="center-align">
            <button class="btn waves-effect center" (click)="closeModal4()">Ok</button>
        </div>
    </div>
</div>