<form [formGroup]="feriasResgate"  >
    <div formArrayName="calcularTerceirizados">
        <table class="highlight centered responsive-table hoverable">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" id="test6" (change)="isSelected = !isSelected"/>
                    <label for="test6"></label>
                </th>
                <th>Terceirizados</th>
                <th>Parcela</th>
                <th>Início do Período Aquisitivo</th>
                <th>Fim do Período Aquisititvo</th>
                <th>Início do Ususfruto</th>
                <th>Fim do Usufruto</th>
                <th>Dias Vendidos</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let terceirizado of terceirizados; let k = index">
                <td>
                <div [formGroupName]="k">
                    <input type="checkbox" [checked]="isSelected" [ngModel]="isSelected" formControlName="selected" id="{{k}}"/>
                    <label for="{{k}}"></label>
                </div>
            </td>
                <td>{{terceirizado.nomeTerceirizado}}</td>
                <td>
                    <div [formGroupName]="k">
                        <div class="row">
                            <div class="input-field col s12">
                                <select materialize="material_select" formControlName="parcelas">
                                    <option value="0">Única</option>
                                    <option value="1">Primeira</option>
                                    <option value="2">Segunda</option>
                                    <option value="3">Terceira</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </td>
                <td>{{terceirizado.inicioPeriodoAquisitivo | date: 'shortDate'}}</td>
                <td>{{terceirizado.fimPeriodoAquisitivo | date:'shortDate'}}</td>
                <td>
                    <div [formGroupName]="k">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" class="validate" placeholder="Ex: 01/01/2000" appMaskDate formControlName="inicioFerias" maxlength="10" required>
                                <div *ngIf="feriasResgate.get('calcularTerceirizados').get('' + k).get('inicioFerias').invalid && (feriasResgate.get('calcularTerceirizados').get('' + k).get('inicioFerias').dirty ||
                                feriasResgate.get('calcularTerceirizados').get('' + k).get('inicioFerias').touched)">
                                    <div *ngIf="feriasResgate.get('calcularTerceirizados').get('' + k).get('inicioFerias').getError('mensagem')">
                                        <div *ngFor="let msg of feriasResgate.get('calcularTerceirizados').get('' + k).get('inicioFerias').getError('mensagem')[0]">
                                            <span class="mensagem-erro">{{msg}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="feriasResgate.get('calcularTerceirizados').get('' + k).get('inicioFerias').getError('required')">
                                        <span class="mensagem-erro">Você deve digitar uma data !</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div [formGroupName]="k">
                        <div class="row">
                            <div class="input-field col s12 ">
                                <input type="text" class="validate" placeholder="Ex: 01/01/2000" appMaskDate formControlName="fimFerias" maxlength="10" required>
                                <div *ngIf="feriasResgate.get('calcularTerceirizados').get('' + k).get('fimFerias').invalid && (feriasResgate.get('calcularTerceirizados').get('' + k).get('fimFerias').dirty ||
                                feriasResgate.get('calcularTerceirizados').get('' + k).get('fimFerias').touched)">
                                    <div *ngIf="feriasResgate.get('calcularTerceirizados').get('' + k).get('fimFerias').getError('mensagem')">
                                        <div *ngFor="let msg of feriasResgate.get('calcularTerceirizados').get('' + k).get('fimFerias').getError('mensagem')[0]">
                                            <span class="mensagem-erro">{{msg}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="feriasResgate.get('calcularTerceirizados').get('' + k).get('fimFerias').getError('required')">
                                        <span class="mensagem-erro">Você deve digitar uma data !</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div [formGroupName]="k">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="number" value="0" placeholder="Exemplo: 0" class="validate" formControlName="diasVendidos" min="0" max="10" required>
                                <div *ngIf="feriasResgate.get('calcularTerceirizados').get('' + k).get('diasVendidos').invalid && (feriasResgate.get('calcularTerceirizados').get('' + k).get('diasVendidos').dirty ||
                                feriasResgate.get('calcularTerceirizados').get('' + k).get('diasVendidos').touched)">
                                    <div *ngIf="feriasResgate.get('calcularTerceirizados').get('' + k).get('diasVendidos').getError('mensagem')">
                                        <div *ngFor="let msg of feriasResgate.get('calcularTerceirizados').get('' + k).get('diasVendidos').getError('mensagem')[0]">
                                            <span class="mensagem-erro">{{msg}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="feriasResgate.get('calcularTerceirizados').get('' + k).get('diasVendidos').getError('required')">
                                        <span class="mensagem-erro">Você deve digitar um valor !</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
<br>
<div class="container" *ngIf="tipoRestituicao == 'RESGATE'">
    <div class="row" *ngIf="terceirizados && tipoRestituicao">
        <div class="center-align">
            <button class="btn waves-effect center" (click)="verificaDadosFormularioResgate()" type="submit">Calcular</button>
        </div>
    </div>
</div>
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
        <h4 class="center">Atenção</h4>
        <br>
        <h5 class=" center">No mínimo uma pessoa deve ser selecionada para se realizar o cálculo !</h5>
    </div>
    <div class="modal-footer">
        <div class="col center-align center">
            <div class="center">
                <button class="btn waves-effect center"  (click)="closeModal1()">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions2">
        <div class="modal-content">
            <h4 class="center">Atenção</h4>
            <h5 class=" center">Preencha os campos adequadamente</h5>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect center" (click)="closeModal2()">Ok</button>
        </div>
    </div>
</div>
<div id="modal3" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions3">
    <div class="modal-content">
        <h4 class="center">Atenção</h4>
        <h5 class="center">Deseja Confirmar o cálculo realizado ?</h5>
        <p>Obs.: Esta ação não poderá ser desfeita futuramente *</p>
        <table *ngIf="feriasCalcular"  class="highlight centered responsive-table hoverable">
            <thead>
            <tr>
                <th>Terceirizado</th>
                <th>Início de Férias</th>
                <th>Fim de Férias</th>
                <th>Dias Concedidos</th>
                <th>Férias</th>
                <th>1/3</th>
                <th>Incidência Sobre Férias</th>
                <th>Incidência Sobre 1/3</th>
                <th>Total de Férias</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ferias of feriasCalcular; let l = index">
                <td>{{ferias.nomeTerceirizado}}</td>
                <td>{{ferias.inicioFerias}}</td>
                <td>{{ferias.fimFerias}}</td>
                <td>{{diasConcedidos[l]}}</td>
                <td>{{ferias.pTotalFerias | currency:'BRL':true:'1.2-2'}}</td>
                <td>{{ferias.pTotalTercoConstitucional | currency:'BRL':true:'1.2-2'}}</td>
                <td>{{ferias.pTotalIncidenciaFerias | currency:'BRL':true:'1.2-2'}}</td>
                <td>{{ferias.pTotalIncidenciaTerco | currency:'BRL':true:'1.2-2'}}</td>
                <td>{{ferias.pTotalFerias + ferias.pTotalIncidenciaFerias + ferias.pTotalTercoConstitucional + ferias.pTotalIncidenciaTerco | currency:'BRL':true:'1.2-2'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="center-align">
            <button class="btn waves-effect right" (click)="efetuarCalculo()">Confirmar</button>
            <button class="btn waves-effect left" (click)="closeModal3()">Cancelar</button>
        </div>
    </div>
</div>
<div id="modal4" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions4">
    <div class="modal-content">
        <h4 class="center">Cálculo realizado com sucesso !</h4>
    </div>
    <div class="modal-footer">
        <div class="center-align">
            <button class="btn waves-effect center" (click)="closeModal4()">Ok</button>
        </div>
    </div>
</div>