<div class="container">
    <h2 class="center">Saldo Total</h2>
    <br>
    <div class="row">
        <div class="input-field col l7">
            <select id="selecao_contrato" materialize="material_select" [materializeSelectOptions]="contratos"
                    (change)="defineCodigoContrato($event.target.value)">
                <option disabled>Selecione um contrato</option>
                <option *ngFor="let contrato of contratos" [value]="contrato.codigo"
                        [selected]="codigoContrato == contrato.codigo">{{contrato.nomeDaEmpresa}} - Contrato nº:
                    {{contrato.numeroDoContrato}}
                </option>
            </select>
            <label for="selecao_contrato">Contrato<span class="red-text"> *</span></label>
        </div>
    </div>
    <div class="row" *ngIf="!saldos && codigoContrato">
        <div class="col s12 grey lighten-4" style="margin-top: 1em">
            <br>
            <h5 class="center-align">Não há cálculos realizados ainda ! <i class="small material-icons">mood_bad</i>
            </h5>
        </div>
    </div>
    <table class="highlight centered responsive-table" *ngIf="saldos && codigoContrato">
        <thead>
        <tr>
            <th>Função</th>
            <th>Férias</th>
            <th>Terço constitucional</th>
            <th>Décimo terceiro</th>
            <th>Incidência</th>
            <th>MULTA do FGTS</th>
            <!--
            <th >Total retido</th>
            <th >Férias restituído</th>
            <th >Terço const. restituído</th>
            <th >Incid. de férias restituído</th>
            <th >Incid. de terço restituído</th>
            <th >Total de férias restituído</th>
            <th >Décimo terceiro restituído</th>
            <th >Incid. sobre 13° restituído</th>
            <th >Total de 13º restituído</th>
            <th >Total restituído</th>
            -->
            <th>Saldo</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let saldo of saldos; let k = index">
            <td>{{saldo.funcao}}</td>
            <td>{{saldo.valorFeriasRetido - saldo.valorFeriasRestituido| currency:'BRL':true:'1.2-2'}}</td>
            <td>{{saldo.valorTercoRetido - saldo.valorTercoRestituido | currency:'BRL':true:'1.2-2'}}</td>
            <td>{{saldo.valorDecimoTerceiroRetido - saldo.valorDecimoTerceiroRestituido |
                currency:'BRL':true:'1.2-2'}}
            </td>
            <td>{{saldo.valorIncidenciaRetido - saldo.valorIncidenciaFeriasRestituido -
                saldo.valorIncidenciaTercoRestituido - saldo.valorIncidenciaDecimoTerceiroRestituido |
                currency:'BRL':true:'1.2-2'}}
            </td>
            <td>{{saldo.valorMultaFGTSRetido | currency:'BRL':true:'1.2-2'}}</td>
            <!--
            <td >{{saldo.valorTotalRetido | currency:'BRL':true:'1.2-2'}}</td>
            <td >{{saldo.valorFeriasRestituido | currency:'BRL':true:'1.2-2'}}</td>
            <td >{{saldo.valorTercoRestituido | currency:'BRL':true:'1.2-2'}}</td>
            <td >{{saldo.valorIncidenciaFeriasRestituido | currency:'BRL':true:'1.2-2'}}</td>
            <td >{{saldo.valorIncidenciaTercoRestituido | currency:'BRL':true:'1.2-2'}}</td>
            <td >{{saldo.valorTotalFeriasRestituido | currency:'BRL':true:'1.2-2'}}</td>
            <td >{{saldo.valorDecimoTerceiroRestituido | currency:'BRL':true:'1.2-2'}}</td>
            <td >{{saldo.valorIncidenciaDecimoTerceiroRestituido | currency:'BRL':true:'1.2-2'}}</td>
            <td >{{saldo.valorTotalDecimoTerceiroRestituido | currency:'BRL':true:'1.2-2'}}</td>
            <td >{{saldo.valorTotalRestituido | currency:'BRL':true:'1.2-2'}}</td>
            -->
            <td>{{saldo.valorSaldo | currency:'BRL':true:'1.2-2'}}</td>
        </tr>
        </tbody>
    </table>
</div>