<div class="container">
    <h2 class="center-align">Total Mensal a Reter</h2>
</div>
<div class="container">
    <div class="row">
        <br>
        <div class="col s12">
            <ul class="tabs tabs-fixed-width" materialize="tabs" [materializeParams]="tabSelectionParams">
                <li class="tab col s3 text-grey text-darken-1" ><a [class.active]="testeRetencoes()"(click)="setRetencoesActive()">Retenções</a></li>
                <li class="tab col s3 text-grey text-darken-1"><a [class.active]="testeCalculo()" (click)="setCalcularActive()" >Calcular</a></li>
                <li class="tab col s3 text-grey text-darken-1"><a [class.active]="testePendentes()" (click)="setPendentesActive()">Cálculos Pendentes de Aprovação</a></li>
                <li class="tab col s3 text-grey text-darken-1"><a [class.active]="testeExecutados()" (click)="setExecutadosActive()">Cálculos Pendentes de Execução</a></li>
            </ul>
        </div>
        <div id="test1" active="testeRetencoes()" ><app-total-mensal-ret *ngIf="testeRetencoes()" [contratoSelecionado]="codigoContrato"></app-total-mensal-ret></div>
        <div id="test2" class="col s12" active="testeCalculo()" ><app-total-mensal-calculo *ngIf="testeCalculo()" (navegaParaViewDeCalculos)="calculosPendentes($event)"></app-total-mensal-calculo></div>
        <div id="test3" class="col s12" active="testePendentes()"><app-total-mensal-pendente-component *ngIf="testePendentes()" [codigoContrato]="codigoContrato" (nav)="calculosPendentesExecucao($event)">
        </app-total-mensal-pendente-component></div>
        <div id="test4" class="col s12" active="testeExecutados()"><app-total-mensal-execucao-component *ngIf="testeExecutados()" [codigoContrato]="codigoContrato"
         (nav)="calculosRetidos($event)"></app-total-mensal-execucao-component></div>
    </div>
</div>