<div class="container">
  <h2 class="center-align">Terceirizados</h2>
    <div class="row">
        <div class="col left">
            <button class="btn waves-effect" (click)="cadastroTerceirzado()">Cadastrar Novo Terceirizado</button>
        </div>
    </div>
 <!-- <div class="row" *ngIf="false">
      <div class="input-field col s5">
        <select  name="contrato" materialize="material_select" [ngModel]="contratos" (change)="onChange($event.target.value)">
          <option value="" disabled selected >Selecione o contrato</option>
          <option class="truncate" *ngFor="let contrato of contratos; let i=index" [value]="[i, contrato.codigo]">{{contrato.nomeDaEmpresa}} - Contrato nº: {{contrato.numeroDoContrato}}</option>
        </select>
        <label>Selecione o contrato</label>
      </div>
      <div class="input-field col s6 l6 offset-l1 offset-xl2 offset-m6">
        <i class="material-icons prefix">search</i>
        <input placeholder="Digite um nome" id="search_name" type="text" class="validate">
        <label for="search_name">Busca</label>
      </div>
  </div>
</div>
<div *ngIf="false"  class="container" >
  <h5 >Gestor: {{gestor}} , Contrato: {{contratos[indice].nomeDaEmpresa}} - Contrato Nº {{contratos[indice].numeroDoContrato}}</h5>
  <table class="centered responsive-table z-depth-1 hoverable highlight bordered">
    <thead>
      <tr>
        <th></th>
        <th>Nome</th>
        <th>CPF</th>
        <th class="truncate">Funcionário Ativo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let funcionario of pagedItems; let i=index">
        <td>{{(i + 1) + ((pager.currentPage - 1) * 10)}}</td>
        <td>{{funcionario.nome}}</td>
        <td>{{funcionario.cpf | cpfPipe}}</td>
        <td>{{funcionario.ativo | afirimativePipe}}</td>
      </tr>
    </tbody>
  </table>
    <div class="center">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">Primeira</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="waves-effect">
                <a (click)="setPage(pager.currentPage - 1)">Anterior</a>
            </li>
            <li class="waves-effect" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="waves-effect" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Próxima</a>
            </li>
            <li class="waves-effect" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Última</a>
            </li>
        </ul>
    </div>
</div> -->
<div class="container" *ngIf="funcionarios">
    <table class="centered responsive-table z-depth-1 hoverable highlight bordered" *ngIf="funcionarios.length > 0">
        <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>CPF</th>
            <th class="truncate">Terceirizado Ativo</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let funcionario of pagedItems; let i=index" (dblclick)="editarTerceirizado(funcionario.codigo)">
            <td>{{(i + 1) + ((pager.currentPage - 1) * 50)}}</td>
            <td>{{funcionario.nome}}</td>
            <td>{{funcionario.cpf | cpfPipe}}</td>
            <td>{{funcionario.ativo | afirimativePipe}}</td>
        </tr>
        </tbody>
    </table>
    <div class="center">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">Primeira</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="waves-effect">
                <a (click)="setPage(pager.currentPage - 1)">Anterior</a>
            </li>
            <li class="waves-effect" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="waves-effect" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Próxima</a>
            </li>
            <li class="waves-effect" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Última</a>
            </li>
        </ul>
    </div>
</div>