:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
  padding-top: 6ch;
  padding-bottom: 20ch;
  article {
    h2 {
      font-size: 2.56rem;
    }
  }

  h2 {
    font-size: 2.56rem;
  }
}

$corBase: rgb(195,209,217);
$corFront: rgb(64,79,84);

:host {
  /deep/ #header
  {
    /*z-index: 99;*/
    nav {
      background: $corBase;
      color: $corFront;
      position: fixed;
      z-index: 99;
      a {
        color: $corFront;
      }

      my-menu {
        color: $corFront !important;
        ul {
          a {
            color: $corFront !important;
          }
        }
      }

      .logo-stj {
        margin: 8px 15px 8px 0px;
        float: left;
      }
    }
  }
  /deep/ footer.page-footer {
    background: $corBase;
    color: $corFront;

    .footer-copyright {
      background: $corFront;
    }

    h5 {
      color: $corFront;
    }
  }
}
.side-nav {
  top: 64.6px;
  max-width: 240px;
  background-color: $corBase;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: content-box;
  z-index: 0;
}

/*main {
  padding-left: 140px;
  overflow-y: auto;
}*/
main {
  padding-left: 60px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
.brand-logo {
  left: 20px;
  position: fixed;
}

a.sys-logo {
  padding-left: 75px;
}
a.button-collapse.show-on-large {
  left: 185px;
  position: fixed;
}
footer {
  position: static;
  bottom: 0px;
  width: 100%;
  z-index: 100;
  max-height: 16.5em;
}
ul.right{
  position: absolute;
  right: -20%;
  top: 0;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  text-align: center;
  box-sizing: content-box;
}
table.highlight tbody tr:hover {
  background-color: #bdbdbd;
}
footer {
    border: 0.001em solid #404f54 !important;
    -webkit-box-shadow: 0px -4px 3px #404f54 !important;
    box-shadow: 0px -4px 3px #404f54 !important;
}