<header id="header">
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <ul *ngIf="config.user" class="right">
          <li><a>Olá, {{config.user.username}}<i class="large material-icons left ">account_circle</i></a></li>
          <li class ="row">
            <a href="./login">
              <i class="material-icons left">lock_outline</i>
              Sair
            </a>
          </li>
        </ul>
        <div class="brand-logo">
          <img src="assets/img/logo-stj.jpg" class="logo-stj">
          <a routerLink="/" class="sys-logo" title="{{subtitle}}">{{title}}</a>
        </div>
        <!--<a href="#"
           data-activates="slide-out"
           class="button-collapse show-on-large"
           materialize="sideNav"
           (click)="toggle()"
           [materializeParams]="[{closeOnClick: true}]"
           *ngIf="config.user"
        >
          <i class="material-icons">menu</i>
        </a> -->
        <app-menu *ngIf="config.user" class="side-nav fixed" id="slide-out" ></app-menu>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="page-footer">
  <app-footer></app-footer>
</footer>
