<div class="container">
  <h2 class="center">Convenções Coletivas</h2>
</div>
<br>
<!--<div class="container">
    <div class="row">
        <div class="input-field col s7">
          <select  name="contrato" materialize="material_select" [ngModel]="contratos" (change)="onChange($event.target.value)">
            <option value="" disabled selected >Selecione um contrato</option>
            <option class="truncate" *ngFor="let contrato of contratos" [value]="contrato.codigo">{{contrato.nomeDaEmpresa}} - Contrato nº: {{contrato.numeroDoContrato}}/{{contrato.anoDoContrato}}</option>
          </select>
          <label>Selecione um contrato</label>
        </div>
    </div>
</div> -->
<div class="container ">
    <div class="row">
        <div class="center">
            <table class="centered hoverable highlight">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Sigla</th>
                        <th>Data Base</th>
                        <th>Descrição</th>
                        <th>Login Atualização</th>
                        <th>Data Atualização</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let convencao of convencoes">
                        <td>{{convencao.nome}}</td>
                        <td>{{convencao.sigla}}</td>
                        <td>{{convencao.dataBase | date: 'shortDate'}}</td>
                        <td>{{(convencao.descricao !== null) ? (convencao.descricao | afirimativePipe) : "-"}}</td>
                        <td>{{convencao.loginAtualizacao | uppercase}}</td>
                        <td>{{convencao.dataAtualizacao | date: 'shortDate'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
