table.highlight tbody tr:hover {
  background-color: #d0d0d0;
  cursor: default;
}
table tbody, table thead {
  background-color: #fff;
}
div  .collapsible-header {
  background-color: #404f54;
}
ul .collapsible {
  background-color: #404f54;
}
#cargos-funcionarios {
  background-color:#404f54 ;
 }
 table {
   background-color: #eeeeee;
 }
.mensagem-erro {
  color: red;
  font-size: 1em;
}
.validate.ng-dirty.ng-invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
.input-field input[type=text].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
.input-field input[type=text].valid.ng-invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: red;
}
