<div class="container">
  <h2 class="center-align">Funções Dos Terceirizados</h2>
    <div class="row">
        <button class="btn waves-effect" (click)="goToGerenciarCargos()">Gerenciar Função do Terceirizado</button>
    </div>
  <div class="row">
        <div class="input-field col s12 xl4 l5 m12">
          <select  name="contrato" materialize="material_select" [ngModel]="contratos" (change)="onChange($event.target.value)">
            <option value="" disabled selected >Selecione o contrato</option>
            <option class="truncate" *ngFor="let contrato of contratos" [value]="contrato.codigo">{{contrato.nomeDaEmpresa}} - Contrato nº: {{contrato.numeroDoContrato}}/{{contrato.anoDoContrato}}</option>
          </select>
          <label>Selecione o contrato</label>
        </div>
        <div class="input-field col s6 l6 offset-l1 offset-xl2 offset-m6">
          <i class="material-icons prefix">search</i>
          <input placeholder="Digite um nome" id="search_name" type="text" class="validate">
          <label for="search_name">Busca</label>
        </div>
    </div>
</div>
<div class="container" *ngIf="valid">
    <div class="row" *ngIf="listaCargosFuncionarios.length === 0">
        <div class="col s12 grey lighten-4">
            <h5 class="center-align">Não há funcionários cadastrados nas funções ainda <i class="small material-icons">mood_bad</i>. Por favor aloque funcionários nas funções !</h5>
        </div>
    </div>
  <ul materialize="collapsible" class="collapsible" data-collapsible="accordion" id="cargos-funcionarios" *ngIf="listaCargosFuncionarios.length > 0">
    <li *ngFor="let lista of listaCargosFuncionarios">
      <div class="collapsible-header">
        <h5 class="center white-text">{{lista.nomeCargo}}</h5>
      </div>
      <div class="collapsible-body">
        <table class="centered hoverable z-depth-1 highlight bordered">
          <thead>
            <tr>
              <th></th>
              <th>Funcionário</th>
              <th>Data de Disponibilização</th>
              <th>Data de Desligamento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let funcionario of lista.cargosFuncionarios; let i=index">
              <td>{{i + 1}}</td>
              <td>{{funcionario.funcionario.nome}}</td>
              <td>{{funcionario.dataDisponibilizacao | datePipe}}</td>
              <td>{{funcionario.dataDesligamento | datePipe}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>
