<div materialize class="container">
    <h2 class="center">Rubricas</h2>
    <div class="row">
        <div class="col left">
            <button class="btn waves-effect" (click)="openModal()">Cadastrar Nova Rubrica</button>
        </div>
        <div id="modal1" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
            <div class="modal-content">
                <app-cadastrar-rubrica *ngIf="render"></app-cadastrar-rubrica>
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect left" (click)="closeModal()">Cancelar</button>
                <button class="btn waves-effect right" [disabled]="rubricaService.getValidity()" (click)="cadastraRubrica()">Cadastrar</button>
            </div>
        </div>
    </div>
  <table class="bordered highlight centered z-depth-2 hoverable">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sigla</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rubrica of rubricas" (dblclick)="editarRubrica(rubrica.codigo)">
            <td>{{ rubrica.nome }}</td>
            <td>{{ rubrica.sigla }}</td>
            <td>{{ rubrica.descricao }}</td>
      </tr>
    </tbody>
  </table>
</div>
