<div class="container">
  <div id="login" class="card">
    <form materialize (ngSubmit)="onSubmit(username, password)">
      <div class="card-content">
        <div class="card-title">Acesso ao sistema</div>
        <div class="card-body">
          <p>Insira seus dados para acessar o sistema.</p>
          <div class="row">
            <div class="input-field col s12">
              <input
                type="text"
                id="campoUsername"
                name="username"
                [(ngModel)]="username"
                class="validate"
                placeholder="Nome de Usuário"
                required
              >
              <label for="campoUsername" class="active">Nome de usuário:</label>
            </div>
            <div class="input-field col s12">
              <input
                type="password"
                id="campoSenha"
                name="password"
                [(ngModel)]="password"
                class="validate"
                placeholder="Senha"
                required
              >
              <label for="campoSenha" class="active">Senha:</label>
            </div>
            <div class="col s12 red lighten-3 white-text" *ngIf="errorMsg">
              <p class="center-align">{{errorMsg}}</p>
            </div>
            <div class="col s12 blue-grey darken-2 white-text" *ngIf="carregando">
              <p class="center-align">Conectando...</p>
            </div>
          </div>
        </div>
        <div class="card-action">
          <button
            type="submit"
            class="btn waves-effect waves-light"
          >
            Entrar
            <i class="material-icons right">https</i>
          </button>

        </div>
      </div>
    </form>
  </div>
</div>
