<div class="container">
  <h2 class="center-align">Usuários</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col m6 l3">
      <button class="left btn waves-effect" (click)="openModal()">Novo Usuário<i class="material-icons right">add</i></button>
    </div>
    <div class="modal bottom-sheet" id="modal1" materialize="modal" [materializeActions]="modalActions" [materializeParams]="[{dismissible: false}]" >
      <div class="modal-content">
        <app-cadastro-usuario *ngIf="render" [cadUs]="cadUs"></app-cadastro-usuario>
      </div>
      <div class="modal-footer" *ngIf="render">
        <button class="btn waves-effect waves-light left" (click)="closeModal()">Cancelar</button>
        <button class="btn waves-effect waves-light right" [disabled]="cadUs.validity" (click)="sendForm($event)">Cadastrar Novo Usuário</button>
      </div>
    </div>
  </div>
    <table class="bordered centered highlight z-depth-2 hoverable">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Perfil</th>
          <th>Login</th>
          <th>Atualizado Por...</th>
          <th>Última Atualização</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{usuario.nome}}</td>
          <td>{{usuario.perfil}}</td>
          <td>{{usuario.login}}</td>
          <td>{{usuario.loginAtualizacao}}</td>
          <td>{{usuario.ultimaAtualizacao | date: 'shortDate'}}</td>
        </tr>
      </tbody>
    </table>
</div>