/*.escurece-a-tela {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: black;
  opacity:0.8;
  z-index:10000;
  width: 100%;
  height: 100%;
}
.formulario-cadastro-contrato {
  z-index: 100001;
  background-color: white;
  position: absolute;
  width: 200ch;
  height: 115ch;
  top: 2ch;
  left: 15ch;
}
.rodape-cadastro {
  position: absolute;
  bottom: 7ch;
} */
div .mes {
  margin-left: 0 !important;
}
/*.convencao {
   margin-right: 20ch !important;
   margin-left: 22.6ch !important;
   padding-left: 5ch;
 }*/
.row .col{
  margin-top: 0.5em !important;
}
/*form p {
  margin-top: 0 !important;
}
.panel-content {
  width: 80rem;
  height: 2em;
  display: flex;
  padding-top: 0.2em;
  margin-botton: 2em !important;
  border-radius: 1em 1em 1em 1em;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-perspective: -15em;
  -webkit-transform-style: preserve-3d;
  background-color: rgb(64,79,84);
}*/
div > .valign-wrapper > .col > .offset-l11{
  margin-top: 0 !important;
}
h6{
  margin-top: 0 !important;
}
.titulo-modal {
  margin-left: 0.5em;
  min-width: 5em;
}
.mensagem-erro {
  color: red;
  font-size: 1em;
}
.validate.ng-dirty.ng-invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
.input-field input[type=text].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
.input-field input[type=text].valid.ng-invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: red;
}
.mensagem-erro {
  color: red;
  font-size: 1em;
}
.validate.ng-dirty.ng-invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
.panel-content {
  width: 81rem;
  height: 2em;
  display: flex;
  padding-top: 0.2em;
  margin-botton: 4em !important;
  border-radius: 1em 1em 1em 1em;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-perspective: -15em;
  -webkit-transform-style: preserve-3d;
  background-color: rgb(64,79,84);
}
select > .cargos {
  max-height: 0.5em !important;
}
p .white-text {
  padding-bottom: 0.5em;
}
div > .valign-wrapper > .col > .offset-l11{
  margin-top: 0 !important;
}
h6{
  margin-top: 0 !important;
}
.titulo-modal {
  margin-left: 0.5em;
  min-width: 5em;
}
.row .col{
  margin-top: 0.5em !important;
}
form p {
  margin-top: 0 !important;
}
div .mes {
  margin-left: 0 !important;
}
.file-field .input-field{
  cursor: pointer !important;
}
table.highlight tbody tr:hover {
  background-color: #9e9e9e;
}
input[type="text"][disabled] {
  color: black;
  text-decoration: solid;
  font-weight: bold;
}
textarea[type="text"][disabled] {
  color: black;
  text-decoration: solid;
  font-weight: bold;
}
div  .col .offset-l11 {
  margin-top: 0 !important;
  margin-left: 121vh;
}
h6{
  margin-top: 0 !important;
}
.titulo-modal {
  margin-left: 0.5em;
  min-width: 5em;
}
input .select-dropdown{
  color: black !important;
  text-decoration: solid !important;
  font-weight: bold !important;
}
.select-dropdown{
  color: black !important;
  text-decoration: solid !important;
  font-weight: bold !important;
}
input[type="text"][disabled] {
  color: black !important;
  text-decoration: solid !important;
  font-weight: bold !important;
}
