<div class="container">
<div class="row">
    <div class="valign-wrapper col s12">
        <div class="col s3">
            <a routerLink="/">
                <h5 class="center">
                    {{title}}
                </h5>
                <p class="text-lighten-4 center-align">{{subtitle}}</p>
            </a>
        </div>
        <div class="col s3">
            <a href="http://intranet/SGI/jsps/main.jsp"><h5 class="center"><small class="text-lighten-4">Intranet</small></h5></a>
        </div>
        <div class="col s2">
            <a href="http://www.stj.jus.br/sites/STJ/default/pt_BR/Institucional/Auditoria-Interna"><h5 class="center"><small class="text-lighten-4">Secretaria de Auditoria Interna</small></h5></a>
        </div>
        <div class="col s3">
            <h5 class="center"><small class="text-lighten-4">Suporte</small></h5>
            <ul>
                <li><p class="center-align">(61) 3319-9681</p></li>
                <li><p class="center-align">(61) 3319-9632</p></li>
            </ul>
        </div>

    </div>
</div>
</div>
<div class="footer-copyright">
    <div class="container">
        © {{year}} AUD/STJ
        <a clas="center-align">SAFS - Quadra 06 - Lote 01 - Trecho III - CEP: 70095-900 - Brasília - DF</a>
        <a class="center-align">(61) 3319-8000</a>
        <a class="text-lighten-4" href="http://www.stj.jus.br/sites/STJ/default/pt_BR/Contato-e-ajuda/Fale-conosco/Como-chegar">Como chegar</a>
        <a class="text-lighten-4 right" href="http://www.stj.jus.br" target="_blank">Superior Tribunal de Justiça</a>
    </div>
</div>