<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
  <li class="row">
    <a routerLink="/home" class="left-align">Início<i class="material-icons left">home</i></a>
  </li>
  <li class="row" *ngIf="admin">
    <a class="collapsible-header left-align">Administração<i class="material-icons left">group</i><i class="material-icons right">arrow_drop_down</i>
    </a>
    <ul class="collapsible-body">
      <li>
        <a routerLink="/rubricas">Rubricas<i class="material-icons left">assignment</i></a>
      </li>
      <li>
        <a routerLink="/usuarios">Usuários<i class="material-icons left">people</i></a>
      </li>
      <li>
        <a routerLink="/cargos">Cargos<i class="material-icons left">portrait</i></a>
      </li>
        <li>
            <a routerLink="/terceirizados">Terceirizados<i class="material-icons left">assignment_ind</i></a>
        </li>
      <li>
        <a routerLink="/percentEst">Percentuais Estáticos<i class="material-icons left">local_atm</i></a>
      </li>
        <li>
            <a routerLink="/convencoes">Convenções Coletivas<i class="material-icons left">trending_up</i></a>
        </li>
    </ul>
  </li>
  <li class="row">
    <a class="collapsible-header left-align">Gerenciar Contrato(s)<i class="material-icons left">storage</i><i class="material-icons right">arrow_drop_down</i></a>
    <ul class="collapsible-body">
      <li>
        <a routerLink="/contratos">Contratos<i class="material-icons left">description</i></a>
      </li>
      <li>
        <a routerLink="/ajustes-contratuais">Ajustes Contratuais<i class="material-icons left">settings</i></a>
      </li>
      <!-- <li>
        <a routerLink="/percentuais">Percentuais<i class="material-icons left">iso</i></a>
      </li>
      <li>
        <a routerLink="/cargosContrato">Cargos do Contrato<i class="material-icons left">business_center</i></a>
      </li> -->
      <li>
        <a routerLink="/funcoes-dos-terceirizados" >Funções Dos Terceirizados<i class="material-icons left">folder_shared</i></a>
      </li>
      <!--<li>
        <a routerLink="/vigencias">Vigências dos Contratos<i class="material-icons left">format_list_numbered</i></a>
      </li> -->
      <li>
        <a routerLink="/historico-gestores">Histórico de Gestores<i class="material-icons left">folder_open</i></a>
      </li>
    </ul>
  </li>
  <li class="row">
    <a class="collapsible-header left-align">Restituição<i class="material-icons left">attach_money</i><i class="material-icons right">arrow_drop_down</i></a>
    <ul class="collapsible-body">
      <li>
        <a routerLink="/ferias">Férias<i class="material-icons left">perm_contact_calendar</i></a>
      </li>
      <li>
        <a routerLink="/decTer">Décimo Terceiro<i class="material-icons left">card_membership</i></a>
      </li>
      <li>
        <a routerLink="/rescisao">Rescisão<i class="material-icons left">broken_image</i></a>
      </li>
      <li>
        <a>Residual<i class="material-icons left">arrow_back</i></a>
      </li>
    </ul>
  </li>
  <li class="row">
    <a routerLink="/totalMensal" class="left-align">Total Mensal a Reter<i class="material-icons left">event</i></a>
  </li>
  <li class="row">
    <a class="collapsible-header left-align">Saldos<i class="material-icons left">functions</i><i class="material-icons right">arrow_drop_down</i></a>
    <ul class="collapsible-body">
      <li>
        <a routerLink="/saldo/individual" class="left-align">Saldo individual<i class="material-icons left">grain</i></a>
      </li>
      <li>
        <a routerLink="/saldo/total" class="left-align">Saldo por função<i class="material-icons">group_work</i></a>
      </li>
    </ul>
  </li>
</ul>
