<div materialize class="container">
  <h2 class="center">Percentuais</h2>
  <div class="row">
    <div class="col">
      <button class="btn waves-effect" (click)="openModal()">Cadastrar Percentuais do Contrato</button>
    </div>
    <div id="modal1" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
      <div class="modal-content">
        <app-cadastro-percentuais *ngIf="render"></app-cadastro-percentuais>
      </div>
      <div class="modal-footer">
        <button class="btn waves-effect left" (click)="closeModal()">Cancelar</button>
        <button class="btn waves-effect right" [disabled]="percentServ.disabled">Adicionar</button>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngFor="let lista of listaPercentuais">
  <h5>Gestor: {{lista.gestor}}, Contrato: {{lista.contrato.nomeDaEmpresa}} - Contrato Nº {{lista.contrato.numeroDoContrato}}</h5>
  <table class="bordered highlight centered z-depth-1 hoverable">
    <thead>
      <tr>
        <th>Rubrica</th>
        <th>Percentual</th>
        <th>Data de Início</th>
        <th>Data Fim</th>
        <th>Data Aditamento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let percentual of lista.percentuais">
        <td>{{percentual.nome}}</td>
        <td id="percentual-center" class="tooltip">{{percentual.percentual}}% <span class="tooltiptext">{{percentual.percentual / 100 | number: '1.4-6'}}</span></td>
        <td>{{percentual.dataInicio | datePipe}}</td>
        <td>{{percentual.dataFim | datePipe}}</td>
        <td>{{percentual.dataAditamento | datePipe}}</td>
      </tr>
    </tbody>
  </table>
</div>
